upstream go-stock  {
   server 172.20.0.3:80;  
}
server {
    listen 80;
    server_name stock.cabbageattic.com;
    root /var/www;
    # index index.php index.html index.htm;
    location / {    
        alias /var/www/static/;
        index index.html;
        try_files $uri $uri/ /index.html;
        # deny all;
        # try_files $uri $uri/ /index.php?$args;
    }

    location ^~ /service/makeup/ {
        alias /var/www/makeup/public/;
        try_files $uri @makeup;
        location ~\.php$ {
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass php-upstream;
            fastcgi_index index.php;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME /var/www/public/index.php; 
        }
    }
 
    location @makeup {
        rewrite /service/makeup/(.*)$ /service/makeup/index.php?/$1 last;
    }

    location /service/stock/ {

        add_header 'Access-Control-Allow-Origin' '*' always;
        add_header 'Access-Control-Allow-Credentials' 'true' always;
        add_header 'Access-Control-Allow-Headers' 'Authorization,Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range' always;
        add_header 'Access-Control-Allow-Methods' 'GET,POST,OPTIONS,PUT,DELETE,PATCH' always;

        if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '*' always;
            add_header 'Access-Control-Allow-Credentials' 'true' always;
            add_header 'Access-Control-Allow-Headers' 'Authorization,Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range' always;
            add_header 'Access-Control-Allow-Methods' 'GET,POST,OPTIONS,PUT,DELETE,PATCH' always;
            add_header 'Access-Control-Max-Age' 1728000 always;
            add_header 'Content-Length' 0 always;
            return 204;
        }

        proxy_pass  http://go-stock/;
        #Proxy Settings
	    proxy_redirect     off;
        proxy_set_header   Upgrade $http_upgrade;  
		proxy_set_header   Connection "upgrade"; 
	    proxy_set_header   Host             $host;
	    proxy_set_header   X-Real-IP        $remote_addr;
	    proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        # root /var/www/letsencrypt/;
        # log_not_found off;
    }
}
